{% extends 'base.html' %}

{% block title %}
<title>Create a New Classroom</title>
{% endblock %}

{%block style_block %}
<link rel="stylesheet" href="{{url_for('static',filename='css/class_create.css')}}"> {%endblock%}


{% block content %}
<div class="container mt-5">
    <div class="card">
        <h2>Create a New Classroom</h2>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="form-group mb-4">
                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control") }}
                {% for error in form.title.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group mb-4">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control") }}
                {% for error in form.description.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group mb-4">
                {{ form.photo.label(class="form-label") }}
                {{ form.photo(class="form-control") }}
                {% for error in form.photo.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group mb-4">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}