{%extends 'base.html'%}
{% block title %} <title> Technortal </title> {% endblock %}
{%block style_block %}
<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}"> {%endblock%}
{%block content%}



<div class="container">
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div>
            {% for category, message in messages %}
            {% if category == 'message' %}
            <p class="alert alert-info custom-login-message">{{ message }}</p>
            {% else %}
            <p class="alert alert-{{ category }}">{{ message }}</p>
            {% endif %}
            {% endfor %}
        </div>


        {% endif %}
        {% endwith %}

    </div>
    <div class="row">
        {% if classrooms | length == 0 %}
        {% if current_user.role == 'teacher' %}
        <p class="alert alert-info">You did not create any classrooms. Press on Create Class.</p>
        {% else %}
        <p class="alert alert-info">You did not join any classrooms. Press on Join Class.</p>
        {% endif %}
        {% else %}
        {% for classroom in classrooms %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card h-100">
                <div class="card-image-container">
                   <a  href="{{url_for('main.classroom.view_class',id = classroom.id)}}" >
                    <img class="card-img-top" src="{{ url_for('static', filename='uploads/' + classroom.photo_url) }}"
                        alt="Classroom Image"></a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title"> {{ classroom.title }} </h5>
                    <p class="card-text">by {{ classroom.teacher.username }}</p>
                    <p class="card-text">classcode : {{ classroom.class_code }}</p>
                    <a href="{{url_for('main.classroom.view_class',id = classroom.id)}}" class="btn btn-custom">View
                        Class</a>

                    {% if current_user.role == 'teacher' %}
                    <form action="{{ url_for('main.classroom.delete_class', id=classroom.id) }}" method="post"
                        style="display: inline;">
                        <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete this classroom?');">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}


    </div>
</div>



{%endblock%}