{%extends 'base.html'%}
{% block title %} <title> Technortal </title> {% endblock %}
{%block style_block %}
<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}"> {%endblock%}
{%block content%}



<div class="container">
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div>
            {% for category, message in messages %}
            {% if category == 'message' %}
            <p class="alert alert-info custom-login-message">{{ message }}</p>
            {% else %}
            <p class="alert alert-{{ category }}">{{ message }}</p>
            {% endif %}
            {% endfor %}
        </div>


        {% endif %}
        {% endwith %}

    </div>
    <div class="row">
        {% for classroom in classrooms %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card h-100">
                <div class="card-image-container">
                    <img class="card-img-top" src="{{ url_for('static', filename='uploads/' + classroom.photo_url) }}"
                        alt="Classroom Image">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title"> {{ classroom.title }} </h5>
                    <p class="card-text">by {{ classroom.teacher.username }}</p>
                    <a href="./classroom.html" class="btn btn-custom">View Class</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{%endblock%}